#pps-taxonomy-series-overview {

  // General

  .pps-taxonomy-series__thumbnail {
    margin: 0;
    padding: 0;

    img {
      height: auto !important;
      width: auto;
    }
  }

  // Grid layout

  &.pps-layout-grid {
    display: grid;
    grid-gap: 40px;

    &.pps-columns-1 {
      grid-template-columns: 1fr;
    }

    &.pps-columns-2 {
      grid-template-columns: 1fr 1fr;
    }

    &.pps-columns-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &.pps-columns-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &.pps-columns-5 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    &.pps-columns-6 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .pps-taxonomy-series__post {

      .pps-taxonomy-series__wrapper .pps-taxonomy-series__title {
        margin: 0 0 25px;
        padding: 0;
      }

      .pps-taxonomy-series__thumbnail {
        margin: 0 0 20px;
      }
    }
  }

  // List layout

  &.pps-layout-list {

    .pps-taxonomy-series__post {
      display: grid;
      grid-template-columns: 30% 1fr;
      grid-gap: 20px;
      margin-bottom: 30px;
      padding-bottom: 30px;

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }

      &.pps-taxonomy-series__no-image {
        grid-template-columns: 1fr;
      }

      .pps-taxonomy-series__wrapper .pps-taxonomy-series__title {
        margin: 0 0 25px;
        padding: 0;
      }
    }
  }
}
