# Docker container name
CONTAINER_NAME="publishpress-series"

OPENAI_API_KEY=your-openai-api-key-here

WEBLATE_API_TOKEN=your-weblate-api-token-here

WEBLATE_API_URL=https://weblate.publishpress.com/api/

PLUGIN_NAME="PublishPress Series"
PLUGIN_TYPE="FREE"
PLUGIN_COMPOSER_PACKAGE="publishpress/publishpress-series"

LANG_LOCALES="ar cs_CZ da_DK de_DE el en_US es_ES fa_IR fi fil fr_FR he_IL hu_HU id_ID it_IT ja ko_KR nl_NL pl_PL pt_BR pt_PT ro_RO ru_RU sv_SE th tr_TR vi yo yor zh_CN"

TERMINAL_IMAGE_NAME="publishpress/dev-workspace-terminal:node-25"
WP_IMAGE_NAME="publishpress/dev-workspace-wordpress:wordpress-6.9-php-8.5"
WPCLI_IMAGE_NAME="publishpress/dev-workspace-wpcli:wpcli-2-php-8.5"

CACHE_PATH="dev-workspace-cache"

PLUGIN_SLUG="organize-series"
LANG_DOMAIN="organize-series"
LANG_DIR="languages"
