.post-series {
	display: inline;
	margin: 0;
	padding: 0;
}

.post-series li, #ed_toolbar {
	display: inline;
}

#seriesdiv input {
	border: none;
}

#seriesdiv ul {
	list-style: none;
	padding: 0;
	margin-left: 10px;
}

#serieschecklist {
	height: 8em;
	overflow: auto;
	margin-top: 8px;
	margin-right: 6px;
}

#serieschecklist li {
	margin: 0;
	padding: 0;
}

#ajaxseries input {
	border: 1px solid #ccc;
}

#serieshowto {
	font-size: 11px;
	margin: 0 5px;
	display: block;
	}
	
#part-description {
	font-size: 11px;
	margin: 0 5px;
	display: block;
}

#seriespart input, #seriespart input:focus {
	border: 1px solid #ccc;
	}

#newseries {
	width: 120px;
	margin-right: 5px;
}

input #seriesadd {
	background: #a4a4a4;
	border-bottom: 1px solid #898989;
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #898989;
	border-top: 1px solid #bcbcbc;
	color: #fff;
	font-size: 10px;
	padding: 0;
	margin: 0;
	font-weight: bold;
	height: 20px;
	margin-bottom: 2px;
	text-align: center;
	width: 37px;
}

#jaxseries {
	margin: 0;
	padding: 0;
}