// CSS for taxonomy-series, seriestoc and taxonomy-series_group templates when using Twenty Twenty-Two theme
#series-primary {
  padding-left: var(--wp--custom--spacing--outer);
  padding-right: var(--wp--custom--spacing--outer);

  #series-content {

    > * {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;

      + * {
        margin-top: var( --wp--style--block-gap );
        margin-bottom: 0;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }

}
