.pp-series-publisher-wrap .inner-sidebar #side-sortables {
    width: 300px;
}

.pp-series-publisher-wrap .has-right-sidebar .inner-sidebar {
    width: 301px;
}

.pp-series-publisher-wrap .has-right-sidebar #post-body-content {
    max-width: 910px;
}

.pp-series-publisher-wrap.series-publish table tbody tr,
.pp-series-publisher-wrap.series-order table tbody tr,
.pp-series-publisher-wrap.series-order-pending table tbody tr {
    cursor: move;
}

.pp-series-publisher-wrap.series-publish .postbox-container #submitdiv,
.pp-series-publisher-wrap.series-order .postbox-container #submitdiv,
.pp-series-publisher-wrap.series-order-pending .postbox-container #submitdiv {
    margin-top: 45px;
}

.pp-series-order-tools .inside .button {
    box-sizing: border-box;
    line-height: 1.4;
    min-height: 32px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    white-space: normal;
    width: 100%;
}

#timestampdiv select {
    max-width: 90px !important;
}

@media screen and (max-width: 782px){
    
    .pp-series-publisher-wrap .has-right-sidebar #post-body-content,
    .pp-series-publisher-wrap .has-right-sidebar .inner-sidebar,
    .pp-series-publisher-wrap .inner-sidebar #side-sortables {
        width: 100%;
    }
}
